<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</html>
<body>
{% if course.pk is 1%}
<h1><a href="#">{{course.coursename}}</a></h1>
<h2>{{course.instructorname}}</h2>
<ul>
    {% for x in allcourses.set.all %}
    <li> {{x.coursetype}}</li>
    {% endfor %}
</ul>
{% elif course.pk is 2%}
<h1><a href="#">{{course.coursename}}</a></h1>
<h2>{{course.instructorname}}</h2>
<ul>
    {% for x in allcourses.set.all %}
    <li> {{x.coursetype}}</li>
    {% endfor %}
</ul>
{% else%}
<h1><a href="#">{{course.coursename}}</a></h1>
<h2>{{course.instructorname}}</h2>
{% endif %}
{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{%endif%}

<form action="{% url 'appName1:your_choice' course.id %}"
      method="post">
    {% csrf_token %}
    {% for choice in course.details_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value=" choice.id ">
    <label for="choice{{ forloop.counter }}">{{ choice.course_type }}</label><br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

</body>
